@model KUASCYCLAB.Models.Purchase

@{
    ViewBag.Title = "檢視";
}

<h2>檢視</h2>

<div>
    <h4>進貨單管理</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LimitedReceiptDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LimitedReceiptDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPurchaseAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPurchaseAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceiptLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceiptLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchasingDepartmentEmployee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchasingDepartmentEmployee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupplierEmployee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplierEmployee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseRequisition.PurchaseQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseRequisition.PurchaseQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Supplier.SupplierName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supplier.SupplierName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("編輯", "Edit", new { id = Model.PurchaseID }) |
    @Html.ActionLink("回上一頁", "Index")
</p>
