@model IEnumerable<KUASCYCLAB.Models.Purchase>

@{
    ViewBag.Title = "檢索";
}

<h2>檢索</h2>

<p>
    @Html.ActionLink("新增", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LimitedReceiptDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPurchaseAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReceiptLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchasingDepartmentEmployee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupplierEmployee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseRequisition.PurchaseQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supplier.SupplierName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LimitedReceiptDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPurchaseAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReceiptLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchasingDepartmentEmployee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SupplierEmployee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseRequisition.PurchaseQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Supplier.SupplierName)
        </td>
        <td>
            @Html.ActionLink("編輯", "Edit", new { id=item.PurchaseID }) |
            @Html.ActionLink("檢視", "Details", new { id=item.PurchaseID }) |
            @Html.ActionLink("刪除", "Delete", new { id=item.PurchaseID })
        </td>
    </tr>
}

</table>
