@model IEnumerable<KUASCYCLAB.Models.BOMList>

@{
    ViewBag.Title = "檢索";
}

<h2>檢索</h2>
<p>
    <button id="create" type="button" class="btn btn-group-vertical" onclick="location.href = '@Url.Action("Create")'; return false;"><span class="glyphicon glyphicon-plus"></span></button>
</p>

<div style=" overflow:auto;">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaterialName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaterialQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.ProductName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaterialName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaterialQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.ProductName)
                </td>
                <td>
                    <button id="edit" type="button" class="btn btn-group-vertical" onclick="location.href = '@Url.Action("Edit",new { id = item.BOMID })'; return false;">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button id="edit" type="button" class="btn btn-group-vertical" onclick="location.href = '@Url.Action("Details",new { id = item.BOMID })'; return false;">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                    <button id="edit" type="button" class="btn btn-group-vertical" onclick="location.href = '@Url.Action("Delete",new { id = item.BOMID })'; return false;">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
        }

    </table>
</div>
<script>
   
</script>

       
   

