@model KUASCYCLAB.Models.SalesRequestPaymentRecord

@{
    ViewBag.Title = "檢視";
}

<h2>檢視</h2>

<div>
    <h4>銷貨請款紀錄管理</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountingDepartmentEmployee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountingDepartmentEmployee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PackingList.Deliveryman)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PackingList.Deliveryman)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("編輯", "Edit", new { id = Model.SalesRequestPaymentRecordID }) |
    @Html.ActionLink("回上一頁", "Index")
</p>
