@model IEnumerable<KUASCYCLAB.Models.SalesIncomeRecord>

@{
    ViewBag.Title = "檢索";
}

<h2>檢索</h2>

<p>
    @Html.ActionLink("新增", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountingDepartmentEmployee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalesIncome.Remark)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountingDepartmentEmployee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalesIncome.Remark)
        </td>
        <td>
            @Html.ActionLink("編輯", "Edit", new { id=item.SalesIncomeRecordID }) |
            @Html.ActionLink("檢視", "Details", new { id=item.SalesIncomeRecordID }) |
            @Html.ActionLink("刪除", "Delete", new { id=item.SalesIncomeRecordID })
        </td>
    </tr>
}

</table>
