@model IEnumerable<KUASCYCLAB.Models.PurchaseReturn>

@{
    ViewBag.Title = "檢索";
}

<h2>檢索</h2>

<p>
    <button id="create" type="button" class="btn btn-group-vertical" onclick="location.href = '@Url.Action("Create")'; return false;"> <span class="glyphicon glyphicon-plus"></span></button>
</p>
<div style=" overflow:auto;">
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseReturnsDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseReturnsQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseReturnsTotalQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseReturnsReason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReplenishmentLimitedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Purchase.PurchaseAmount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseReturnsDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseReturnsQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseReturnsTotalQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseReturnsReason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReplenishmentLimitedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Purchase.PurchaseAmount)
        </td>
        <td>
            <button id="edit" type="button" class="btn btn-group-vertical" onclick="location.href = '@Url.Action("Edit",new { id = item.PurchaseReturnsID })'; return false;">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
            <button id="edit" type="button" class="btn btn-group-vertical" onclick="location.href = '@Url.Action("Details",new { id = item.PurchaseReturnsID })'; return false;">
                <span class="glyphicon glyphicon-search"></span>
            </button>
            <button id="edit" type="button" class="btn btn-group-vertical" onclick="location.href = '@Url.Action("Delete",new { id = item.PurchaseReturnsID })'; return false;">
                <span class="glyphicon glyphicon-remove"></span>
            </button>

        </td>
    </tr>
}

</table>
</div>
