@model KUASCYCLAB.Models.InventoryReceipt

@{
    ViewBag.Title = "刪除";
}

<h2>刪除</h2>

<h3>您確定要刪除嗎?</h3>
<div>
    <h4>盤點管理</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductionInChargeOfName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductionInChargeOfName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WarehouseResponsibleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WarehouseResponsibleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InventoryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InventoryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductionOrder.ProductionProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductionOrder.ProductionProductName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="刪除" class="btn btn-default" /> |
            @Html.ActionLink("回上一頁", "Index")
        </div>
    }
</div>
