@model KUASCYCLAB.Models.PackingList

@{
    ViewBag.Title = "檢視";
}

<h2>檢視</h2>

<div>
    <h4>出貨單管理</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DeliveryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deliveryman)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deliveryman)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WarehouseStaff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WarehouseStaff)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessProcessEmployee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessProcessEmployee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalesOrder.ToName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalesOrder.ToName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("編輯", "Edit", new { id = Model.PackingListID }) |
       <button id="create" type="button" class="btn btn-group-vertical" onclick="location.href = '@Url.Action("Index")'; return false;"> <span class="glyphicon glyphicon-arrow-left"></span></button>
</p>
