@model KUASCYCLAB.Models.SalesReturn

@{
    ViewBag.Title = "刪除";
}

<h2>刪除</h2>

<h3>您確定要刪除嗎?</h3>
<div>
    <h4>銷貨退回單管理</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnsNames)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnsNames)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnPersonPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnPersonPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnReason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnReason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnTotalQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnTotalQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnMoney)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnMoney)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnsTotalAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnsTotalAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessProcessEmployee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessProcessEmployee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PackingList.Deliveryman)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PackingList.Deliveryman)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="刪除" class="btn btn-default" /> |
               <button id="create" type="button" class="btn btn-group-vertical" onclick="location.href = '@Url.Action("Index")'; return false;"> <span class="glyphicon glyphicon-arrow-left"></span></button>
        </div>
    }
</div>
