@model IEnumerable<KUASCYCLAB.Models.IncomeStatement>

@{
    ViewBag.Title = "檢索";
}

<h2>檢索</h2>

<p>
    <button id="create" type="button" class="btn btn-group-vertical" onclick="location.href = '@Url.Action("Create")'; return false;"><span class="glyphicon glyphicon-plus"></span></button>
</p>
<div style=" overflow:auto;">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AnnualStatistics)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreTaxIncome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NetIncome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountingDepartmentEmployee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventoryRecord.ProductStocks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaterialInventoryRecord.MaterialName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseInvoice.InvoiceNumber)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.PurchaseRequestPayment.ImportAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesIncomeRecord.AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesInvoice_.UniformID)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AnnualStatistics)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PreTaxIncome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NetIncome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountingDepartmentEmployee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InventoryRecord.ProductStocks)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaterialInventoryRecord.MaterialName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchaseInvoice.InvoiceNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchaseRequestPayment.ImportAccount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SalesIncomeRecord.AccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SalesInvoice_.UniformID)
                </td>
                <td>
                    <button id="edit" type="button" class="btn btn-group-vertical" onclick="location.href = '@Url.Action("Edit",new { id = item.IncomeStatementID })'; return false;">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button id="edit" type="button" class="btn btn-group-vertical" onclick="location.href = '@Url.Action("Details",new { id = item.IncomeStatementID })'; return false;">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                    <button id="edit" type="button" class="btn btn-group-vertical" onclick="location.href = '@Url.Action("Delete",new { id = item.IncomeStatementID })'; return false;">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
        }

    </table> 
</div>


