@model IEnumerable<KUASCYCLAB.Models.Supplier>

@{
    ViewBag.Title = "檢索";
}

<h2>檢索</h2>

<p>
    <button id="create" type="button" class="btn btn-group-vertical" onclick="location.href = '@Url.Action("Create")'; return false;"> <span class="glyphicon glyphicon-plus"></span></button>
</p>
<div style=" overflow:auto;">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SupplierName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResponsiblePerson)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplyRawMaterial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RawMaterialPrice)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SupplierName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SupplierPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SupplierEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SupplierAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ResponsiblePerson)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SupplyRawMaterial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RawMaterialPrice)
                </td>
                <td>
                    <button id="edit" type="button" class="btn btn-group-vertical" onclick="location.href = '@Url.Action("Edit",new { id = item.SupplierID })'; return false;">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button id="edit" type="button" class="btn btn-group-vertical" onclick="location.href = '@Url.Action("Details",new { id = item.SupplierID })'; return false;">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                    <button id="edit" type="button" class="btn btn-group-vertical" onclick="location.href = '@Url.Action("Delete",new { id = item.SupplierID })'; return false;">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
        }

    </table>
    </div>