@model IEnumerable<KUASCYCLAB.Models.MaterialInventoryRecord>

@{
    ViewBag.Title = "檢索";
}

<h2>檢索</h2>

<p>
    <button id="create" type="button" class="btn btn-group-vertical" onclick="location.href = '@Url.Action("Create")'; return false;"> <span class="glyphicon glyphicon-plus"></span></button>
</p>
<div style=" overflow:auto;">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaterialName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaterialSpecifications)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inventory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SafetyStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastRecordedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CangguanLastRecordName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductionOrder.ProductionProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StorageVoucher.WarehouseStaff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier.SupplierName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier1.SupplierName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaterialName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaterialSpecifications)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Inventory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SafetyStock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastRecordedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CangguanLastRecordName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductionOrder.ProductionProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StorageVoucher.WarehouseStaff)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supplier.SupplierName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supplier1.SupplierName)
                </td>
                <td>
                    <button id="edit" type="button" class="btn btn-group-vertical" onclick="location.href = '@Url.Action("Edit",new { id = item.MaterialInventoryRecordID })'; return false;">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button id="edit" type="button" class="btn btn-group-vertical" onclick="location.href = '@Url.Action("Details",new { id = item.MaterialInventoryRecordID })'; return false;">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                    <button id="edit" type="button" class="btn btn-group-vertical" onclick="location.href = '@Url.Action("Delete",new { id = item.MaterialInventoryRecordID })'; return false;">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>

                </td>
            </tr>
        }

    </table>
    </div>